<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Parallel Testing Suite">
    <test name = "Parallel Tests" parallel = "classes" thread-count = "2">
        <classes>
            <class name = "WebDemo" />
            <class name = "WebDemo1" />
        </classes>
    </test>
</suite>